.main-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 800px;
  margin: auto auto;
  border-bottom: 2px solid grey;
}
.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contact-item {
  display: flex;
  gap: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 15px;
  height: 15px;
}

.contact-item a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  margin: 0px;
}

/* SECTIONS STYLES */
.section-title {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.section-underline {
  margin-top: 3px;
}

.experience-items-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.job-header {
  display: flex;
  justify-content: space-between;
}

.job-company,
.job-title {
  font-size: large;
  font-weight: bold;
}

.job-date {
  font-style: italic;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-left: 20px;
}

/* PROJECTS SECTION */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-name {
  font-size: large;
  font-weight: bold;
}

.project-date {
  font-style: italic;
}

/* EDUCATION SECTION */
.educations-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.education-header {
  display: flex;
  justify-content: space-between;
}

.institution-name {
  font-size: large;
  font-weight: bold;
}

/* SKILLS SECTION */
.skills-item {
  display: flex;
  gap: 20px;
}

.skill-title {
  font-size: large;
  font-weight: bold;
}
