.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
  margin: auto auto;
}
.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contact-item {
  display: flex;
  gap: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 15px;
  height: 15px;
}

.contact-item a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  margin: 0px;
}

/* SECTIONS STYLES */
.section-title {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.section-underline {
  margin-top: 3px;
}

.experience-items-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.job-header {
  display: flex;
  justify-content: space-between;
}

.job-company,
.job-title {
  font-size: large;
  font-weight: bold;
}

.job-date {
  font-style: italic;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
